__pycache__/
*.pyc
*.db
*.db.salt
*.db-journal
*.db-shm
*.db-wal

# Build artifacts
nuitka-crash-report.xml
main.build/
main.dist/
*.exe
*.pyd

# Local environment
.venv/
.env

# Rust Target Build Artifacts
target/
eqats_rust_core/target/
